<div class="footer__content">
    <p>copyright sam joy productions 2020</p>
    <p>issues with the website? email samjoyproductions@protonmail.com</p>
    <p><a class="btn" href="https://www.instagram.com/themusicetc/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a class="btn" href="https://twitter.com/themusicetc" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a class="btn" href="https://discord.gg/UydWqyk" target="_blank"><i class='fab fa-discord'></i></a></p>
</div>