<body>

  <div class="header__bg">

    <div class="header__logo">
      <img src="../assets/headerlogo.jpeg" aria-label="The Music Etc. Community Logo">
    </div>

    <div class="header__menu" role="navigation" aria-label="Website Navigation Menu">
      <a class="btn" routerLink="">Home</a>
      <a class="btn" routerLink="album-exchange">Album Exchange</a>
      <a class="btn" routerLink="weekly-mix">Weekly Mix</a>
      <a class="btn" href="https://www.instagram.com/themusicetc/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a class="btn" href="https://twitter.com/themusicetc" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a class="btn" href="https://discord.gg/UydWqyk" target="_blank"><i class='fab fa-discord'></i></a>
    </div>

    <div ngbDropdown class="header__mobile__menu" role="navigation" aria-label="Website Navigation Menu">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Menu</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <div class="dropdownItem" routerLink="">Home</div>
        <div class="dropdownItem" routerLink="album-exchange">Album Exchange</div>
        <div class="dropdownItem" routerLink="weekly-mix">Weekly Mix</div>
        <div class="dropdownItem" href="https://www.instagram.com/themusicetc/" target="_blank">Instagram</div>
        <div class="dropdownItem" href="https://twitter.com/themusicetc" target="_blank">Twitter</div>
        <div class="dropdownItem" href="https://discord.gg/UydWqyk" target="_blank">Discord</div>
      </div>
    </div>

  </div>

  <router-outlet></router-outlet>

  <app-footer></app-footer>

</body>