<div class="mix__chart">
    <a class=mix__chart__image href="https://open.spotify.com/playlist/3gysoWW1MvKGVsMNuXbocT?si=YN-4XDbLTPyHbBi2iHvfKQ" target="_blank">
        <img src="../assets/i.jpg" alt="Trees at sunset">
        <div class="mix__chart__textbox">
            i. dusk
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/5qF8M6lMOP64QwEhzESAS2?si=UMQz9FgvQUefsG6KzFpt_g" target="_blank">
        <img src="../assets/ii.jpg" alt="">
        <div class="mix__chart__textbox">
            ii. solitude
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/2FV9lduiQ49zlp1kvdQxnl?si=l0i86itGQ0u2cTzGxFd8XQ" target="_blank">
        <img src="../assets/the 90s photo_okina.jpeg" alt="clouds by @photo_okina on twitter, june 29th 2020">
        <div class="mix__chart__textbox">
            iii. the 90s
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/4UZaDBht0tv2hvJg8PoeuA?si=Pj5OYR8bQzGMe_2fPoNRWA" target="_blank">
        <img src="../assets/iv.jpg" alt="Trees during a foggy sunrise">
        <div class="mix__chart__textbox">
            iv. the stillness
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/5FetGEni2jm0vLaFKWa97P?si=7Ps4drRtSSCrRFIctLE5nQ" target="_blank">
        <img src="../assets/v.jpg" alt="A city skyline at sunset, viewed through a small window">
        <div class="mix__chart__textbox">
            v. opportunity
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/5Z4Jm5YmpePRKb5ZveF2qe?si=-MLtltXbSOakubLX0u9WsA" target="_blank">
        <img src="../assets/vi.jpg" alt="A cozy indoor scene">
        <div class="mix__chart__textbox">
            vi. second wind
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/2m8mc9MWycmHt5J8tYWYlp?si=8XsyrFEQRQGQHL0svwLAUQ" target="_blank">
        <img src="../assets/driving_wgm_v.jpeg" alt="double exposure while driving, titled 'x2' by @wgm_v on twitter, may 11th 2020">
        <div class="mix__chart__textbox">
            vii. songs you'd play while driving 
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/4rIMtdoatEgRMehzQIVwUT?si=UCBe0xdeRve5TXuqZERinQ" target="_blank">
        <img src="../assets/tourist_sheehanrysa.jpeg" alt="passing train by @sheehanrysa on twitter, may 1st 2020">
        <div class="mix__chart__textbox">
            viii. the tourist mix
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/2voZyCkipSfW4GnRNTlRQB?si=WBVAGdnNQbaSFjThT-yqgg" target="_blank">
        <img src="../assets/get_hyped_artxlo.jpeg" alt="an abstract portrait, titled 'luminescent' by @artxlo on twitter, may 9th 2020">
        <div class="mix__chart__textbox">
            ix. get hyped
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/2iyihKhodKBwAtM7eUhtTB?si=yTsuu5n6RGiAX6XJoCXYbg" target="_blank">
        <img src="../assets/the flow leder_film.jpeg" alt="star trails by @leder_film on twitter, april 24th 2020">
        <div class="mix__chart__textbox">
            x. the flow
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/5LViXHGQBT9eq8VC5lGTnw?si=d7J0D1mASTGBW5GQxeG3pQ" target="_blank">
        <img src="../assets/title tracks mazalthan.jpeg" alt="two men hiking with the text 'i won't lie and tell you it's alright' in the background, by @mazalthan on twitter, april 6th 2020">
        <div class="mix__chart__textbox">
            xi. title tracks
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/36vawm0tKnLtXFjmZMHCG0?si=nMiNVRmiQMaFFksmR8bxDg" target="_blank">
        <img src="../assets/cityscape ang_ramm.jpeg" alt="a cityscape called 'purple wasteland' by @ang_ramm on twitter, june 28th 2020">
        <div class="mix__chart__textbox">
            xii. the cityscape
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/4NOP7KOzuj4SQVRoCU4OCq?si=6amWuKcMSz6zWTLn2wcjfA" target="_blank">
        <img src="../assets/xiii.jpg" alt="a subway scene">
        <div class="mix__chart__textbox">
            xiii. underground
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/1cMQZPxF9gStPATlhaRupK?si=CeWsiSiQTAa6gXN3X1JDiw" target="_blank">
        <img src="../assets/xiv.jpg" alt="A marble statue in a museum">
        <div class="mix__chart__textbox">
            xiv. the jewels
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/70SgQQK9Vw9bsN0RSFVK0k?si=InZNDyWnThaY_KsHn-ljcA" target="_blank">
        <img src="../assets/xv.jpg" alt="A sunny beach viewed through an open window">
        <div class="mix__chart__textbox">
            xv. poolside
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/7waq4c9w30bXw7W0LeVlvT?si=a07RB7J3SbqhXFXbSGIo_A" target="_blank">
        <img src="../assets/xv.jpg" alt="">
        <div class="mix__chart__textbox">
            xvi. check it out!
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/5NSSHGzNQfYwi8IZ1hj6Bh?si=EwVU26guRBa_A8pEc0flmQ" target="_blank">
        <img src="../assets/xv.jpg" alt="">
        <div class="mix__chart__textbox">
            mixes, etc. vol 1
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/34xL3cZFv5HCR5cQFsi56Q?si=DIg_lRscSNuv9pHQJjz_hg" target="_blank">
        <img src="../assets/xvii.jpg" alt="A fist with '1989' tattooed on the fingers">
        <div class="mix__chart__textbox">
            xvii. 1989
        </div>
    </a>
    <a class=mix__chart__image href="https://open.spotify.com/playlist/5XyYSE38Gb3pO1e3pQlV8t?si=V2jXTi5CT0u0q3m1tugQ0Q" target="_blank">
        <img src="../assets/xviii.jpg" alt="A drawing of a lightbulb filled with a rainbow of colors">
        <div class="mix__chart__textbox">
            xviii. inspiration
        </div>
    </a>
</div>