<div class="container">
    <div class="home__body">
        <div class="home__display">
            <h1>Album Exchange #16</h1>
            <h3>The People Exchange, Vol. II</h3>
            <div>
                personalized recommendations from matched users
            </div>
            <div>
                top album of the week - "For One To Love" by Cécile McLorin Salvant
            </div>
            <a href="https://rateyourmusic.com/release/album/cecile-mclorin-salvant/for-one-to-love-2/"><img
                    src="//e.snmc.io/i/300/s/a3716332505b661e0a2aab6b5d36829b/5808450"
                    alt="Cécile McLorin Salvant - For One to Love" id="albeximg"></a>

            <div>
                reviewed by Porditsa, recommended by sniffs - 10/10
            </div>
            <button class="btn" routerLink="album-exchange" aria-label="Go to the Album Exchange page">see the reviews --></button>
        </div>
        <div class="home__display">
            <h1>music, etc. Weekly Mix 16</h1>
            <h3>check it out!</h3>
            <p id="weekly__mix">spreading the word about relatively unknown and new artists</p>
            <iframe src="https://open.spotify.com/embed/playlist/7waq4c9w30bXw7W0LeVlvT" frameborder="0"
                allowtransparency="true" allow="encrypted-media" aria-label="Weekly Mix Spotify Playlist"></iframe>
            <button class="btn" routerLink="weekly-mix" aria-label="Go to the Weekly Mix archive page">see more playlists --></button>
        </div>
    </div>
</div>